* {
  font-family: Verdana;
  box-sizing: content-box;
  text-decoration: none;
  padding: 0;
  border: none;
}
body {
  padding-top: 5vh;
  text-align: center;
}
#myBtn {
  font-size: 2rem;
  background-color: #306fdb;
  color: #fff;
  padding: 5px 15px;
  border-radius: 0.5rem;
}
#myH1 {
  font-size: 5rem;
  margin: 0;
}
